.aboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .videoContainer {
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: -1;
    // transition: opacity 0.3s ease-in-out;
    // animation: autoShow;
    // animation-timeline: view();

    .video {
      width: 100%;
      object-fit: cover;
    }
  }

  .bentoContainer {
    width: 100%;
    height: 100vh;
    padding: calc(2% + 90px) 8% 3% 8%;
    display: flex;
    justify-content: center;
    align-items: center;

    .grid {
      background-color: transparent;
      width: 100%;
      height: 100%;
      display: grid;
      gap: 1vw;
      padding: 1vw;
      color: #464545;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(9, 1fr);
      grid-template-areas:
        's1 s1 s2 s2 s3 s3 s5 s5 s5 s5 s5 s5'
        's1 s1 s2 s2 s3 s3 s5 s5 s5 s5 s5 s5'
        's4 s4 s4 s4 s4 s4 s5 s5 s5 s5 s5 s5'
        's4 s4 s4 s4 s4 s4 s5 s5 s5 s5 s5 s5'
        's4 s4 s4 s4 s4 s4 s5 s5 s5 s5 s5 s5'
        's4 s4 s4 s4 s4 s4 s8 s8 s9 s9 s9 s9'
        's6 s6 s6 s7 s7 s7 s8 s8 s9 s9 s9 s9'
        's6 s6 s6 s7 s7 s7 s8 s8 s9 s9 s9 s9'
        's6 s6 s6 s7 s7 s7 s8 s8 s9 s9 s9 s9';
    }

    .item {
      // border: 2px solid #464545;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      // padding: 1rem;
      overflow: hidden;
      transform: translateZ(0); // equivalent to transform-gpu
      backdrop-filter: blur(40px);
      // border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: 0 -10px 50px -10px rgba(66, 52, 91, 0.1) inset;
      transition: all 0.3s ease-in-out;
      // cursor: pointer;
      color: white;

      &:hover {
        box-shadow: inset 10px 0 20px -10px rgba(66, 52, 91, 0.1),
          inset -10px 0 20px -10px rgba(66, 52, 91, 0.12);
      }

      .counter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to bottom, #4b5563, #7f7fbf, #e5e7eb);

        p {
          font-size: 3.5rem;
          color: rgb(145, 0, 249);
          margin-left: -5px;
        }
      }

      .bottomText {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 0.9rem;
        letter-spacing: 0.2px;

        svg {
          font-size: 1rem;
          color: rgb(145, 0, 249);
          margin-right: 5px;
        }
      }
    }

    .grid .item:nth-child(1) {
      grid-area: s1;
    }
    .grid .item:nth-child(2) {
      grid-area: s2;
    }
    .grid .item:nth-child(3) {
      grid-area: s3;
    }
    .grid .item:nth-child(4) {
      grid-area: s4;
    }
    .grid .item:nth-child(5) {
      grid-area: s5;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 3%;
      transition: all 0.2s ease-in-out !important;

      &:has(.iconCloud:hover) {
        overflow: visible;
      }

      .bottomText {
        width: 100%;
        font-size: 1.2rem;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to bottom, #4b5563, #7f7fbf, #e5e7eb);

        svg {
          margin-right: 10px;
          font-size: 1.4rem;
        }
      }

      .iconCloud {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(15%) translateX(15%);
        transition: all 0.4s ease-in-out;

        &:hover {
          scale: 1.25;
          transform: translateX(-15%) translateY(-5%);
        }
      }

      .slidingCardContainer {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 4%;

        .slidingCard {
          width: 90%;
          height: var(--height);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px solid #573d72ce;
          border-radius: 0.9rem;
          background: #9c7fbf24;
          transition: all 0.2s ease-in-out !important;

          &:hover {
            border: 1px solid #573d72c4;
            background: #9c7fbf39;
          }

          svg {
            color: rgb(145, 0, 249);
            margin-right: 10px;
            letter-spacing: 0;
            font-size: 1.4rem;
          }
        }

        .slidingLeft {
          width: 50%;
          height: 100%;
          position: relative;
          display: flex;
          // flex-direction: column;
          // justify-content: center;
          // align-items: center;
          // gap: 0.6rem;
          background: #9c7fbf24;
          mask-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.01, rgba(0, 0, 0, 0)),
            color-stop(0.01, rgba(0, 0, 0, 0)),
            color-stop(0.01, rgba(0, 0, 0, 0)),
            color-stop(0.5, rgba(0, 0, 0, 1)),
            color-stop(0.99, rgba(0, 0, 0, 0)),
            color-stop(0.99, rgba(0, 0, 0, 0)),
            color-stop(0.99, rgba(0, 0, 0, 0))
          );
          border: 1px solid #382c4693;
          border-radius: 1rem;

          .slidingCard {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: autoRun 10s linear infinite;
            transition: filter 0.5s;
            animation-delay: calc(
              (10s / var(--quantity)) * (var(--position) - 1)
            ) !important;
          }
        }
        .slidingRight {
          width: 50%;
          height: 100%;
          position: relative;
          background: #9c7fbf24;
          mask-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.01, rgba(0, 0, 0, 0)),
            color-stop(0.01, rgba(0, 0, 0, 0)),
            color-stop(0.01, rgba(0, 0, 0, 0)),
            color-stop(0.5, rgba(0, 0, 0, 1)),
            color-stop(0.99, rgba(0, 0, 0, 0)),
            color-stop(0.99, rgba(0, 0, 0, 0)),
            color-stop(0.99, rgba(0, 0, 0, 0))
          );
          border: 1px solid #382c4693;
          border-radius: 1rem;

          .slidingCard {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: reversePlay 10s linear infinite;
            transition: filter 0.5s;
            animation-delay: calc(
              (10s / var(--quantity)) * (var(--position) - 1)
            ) !important;
          }
        }
      }
    }
    .grid .item:nth-child(6) {
      grid-area: s6;
    }
    .grid .item:nth-child(7) {
      grid-area: s7;
    }
    .grid .item:nth-child(8) {
      grid-area: s8;
    }
    .grid .item:nth-child(9) {
      grid-area: s9;
    }
  }

  @media screen and (max-width: 1550px) {
    .videoContainer {
      width: 110% !important;
    }

    .bentoContainer {
      .grid {
        .item {
          .counter {
            font-size: 85%;

            p {
              font-size: 85%;
            }
          }

          .bottomText {
            font-size: 85%;
          }
        }
      }
    }

    .grid .item:nth-child(5) {
      .bottomText {
        font-size: 1.1rem !important;

        svg {
          font-size: 1.2rem !important;
        }
      }

      .slidingCardContainer {
        .slidingCard {
          height: 40px !important;
          font-size: 85%;
          svg {
            font-size: 1.2rem !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1250px) {
    .bentoContainer {
      .grid {
        height: 85%;
        .item {
          .counter {
            font-size: 70%;

            p {
              font-size: 70%;
            }
          }

          .bottomText {
            font-size: 70%;

            svg {
              margin-top: 5px;
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    .grid .item:nth-child(5) {
      .bottomText {
        font-size: 0.9rem !important;

        svg {
          font-size: 1rem !important;
        }
      }

      .slidingCardContainer {
        .slidingCard {
          font-size: 70%;
          height: 42px !important;
          svg {
            font-size: 1rem !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1050px) {
    .bentoContainer {
      .grid {
        .item {
          .counter {
            font-size: 60%;

            p {
              font-size: 60%;
            }
          }

          .bottomText {
            font-size: 60%;

            svg {
              margin-left: -2px;
              font-size: 0.7rem;
            }
          }
        }
      }
    }

    .grid .item:nth-child(5) {
      .bottomText {
        font-size: 0.9rem !important;

        svg {
          font-size: 0.9rem !important;
        }
      }

      .slidingCardContainer {
        .slidingCard {
          font-size: 60%;
          height: 42px !important;
          svg {
            font-size: 0.8rem !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .bentoContainer {
      height: auto;
      padding: calc(2vh + 90px) 8vh 3vh 8vh;
      .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(17, 7vh);
        grid-template-areas:
          's1 s1 s2 s2 s3 s3'
          's1 s1 s2 s2 s3 s3'
          's4 s4 s4 s4 s4 s4'
          's4 s4 s4 s4 s4 s4'
          's4 s4 s4 s4 s4 s4'
          's4 s4 s4 s4 s4 s4'
          's5 s5 s5 s5 s5 s5'
          's5 s5 s5 s5 s5 s5'
          's5 s5 s5 s5 s5 s5'
          's5 s5 s5 s5 s5 s5'
          's6 s6 s6 s7 s7 s7'
          's6 s6 s6 s7 s7 s7'
          's6 s6 s6 s7 s7 s7'
          's8 s8 s9 s9 s9 s9'
          's8 s8 s9 s9 s9 s9'
          's8 s8 s9 s9 s9 s9'
          's8 s8 s9 s9 s9 s9';
        .item {
          .counter {
            font-size: 85% !important;

            p {
              margin-left: 1px;
              font-size: 85% !important;
            }
          }

          .bottomText {
            font-size: 85% !important;

            svg {
              margin-left: -2px;
              font-size: 85% !important;
            }
          }
        }
      }
    }

    .grid .item:nth-child(5) {
      .bottomText {
        font-size: 1rem !important;

        svg {
          font-size: 1rem !important;
        }
      }

      .slidingCardContainer {
        .slidingCard {
          font-size: 85% !important;
          height: 50px !important;
          border-radius: 0.7rem !important;
          svg {
            font-size: 1rem !important;
          }
        }
      }
    }
  }
  // @media screen and (max-width: 768px) {
  @media screen and (max-width: 820px) {
    .grid .item:nth-child(5) {
      .bottomText {
        font-size: 1.2rem !important;

        svg {
          margin-top: 2px !important;
          font-size: 1.2rem !important;
        }
      }

      .slidingCardContainer {
        .slidingCard {
          padding: 2% !important;
          font-size: 40%;
          height: 45px !important;
          svg {
            font-size: 1rem !important;
          }
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .bentoContainer {
      height: auto;
      padding: 1rem;
      .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(17, 7vh);
        grid-template-areas:
          's1 s1 s2 s2 s3 s3'
          's1 s1 s2 s2 s3 s3'
          's4 s4 s4 s4 s4 s4'
          's4 s4 s4 s4 s4 s4'
          's4 s4 s4 s4 s4 s4'
          's4 s4 s4 s4 s4 s4'
          's5 s5 s5 s5 s5 s5'
          's5 s5 s5 s5 s5 s5'
          's5 s5 s5 s5 s5 s5'
          's5 s5 s5 s5 s5 s5'
          's6 s6 s6 s7 s7 s7'
          's6 s6 s6 s7 s7 s7'
          's6 s6 s6 s7 s7 s7'
          's8 s8 s9 s9 s9 s9'
          's8 s8 s9 s9 s9 s9'
          's8 s8 s9 s9 s9 s9'
          's8 s8 s9 s9 s9 s9';
        .item {
          .counter {
            font-size: 75% !important;

            p {
              margin-left: 1px;
              font-size: 75% !important;
            }
          }

          .bottomText {
            font-size: 70% !important;

            svg {
              margin-left: -2px;
              font-size: 85% !important;
            }
          }
        }
      }
    }

    .grid .item:nth-child(5) {
      .slidingCardContainer {
        width: 70% !important;
        .slidingCard {
          font-size: 75% !important;
          height: 40px !important;
          border-radius: 0.5rem !important;
          svg {
            font-size: 0.9rem !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 415px) {
    .bentoContainer {
      .grid {
        .item {
          .counter {
            font-size: 75% !important;

            p {
              margin-left: 1px;
              font-size: 75% !important;
            }
          }

          .bottomText {
            font-size: 60% !important;

            svg {
              margin-left: -2px;
              font-size: 90% !important;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 376px) {
    .bentoContainer {
      .grid {
        .item {
          .counter {
            font-size: 70% !important;

            p {
              margin-left: 1px;
              font-size: 70% !important;
            }
          }

          .bottomText {
            font-size: 55% !important;

            svg {
              margin-left: -2px;
              font-size: 90% !important;
            }
          }
        }
      }

      .grid .item:nth-child(5) {
        .slidingCardContainer {
          .slidingCard {
            font-size: 65% !important;
            height: 32px !important;
            border-radius: 0.5rem !important;
            svg {
              font-size: 0.9rem !important;
            }
          }
        }

        .bottomText {
          font-size: 01rem !important;
        }
      }
    }
  }
}

@keyframes autoRun {
  from {
    top: 100%;
  }
  to {
    top: calc(100px * -1);
  }
}

@keyframes reversePlay {
  from {
    top: calc(200px * -1);
  }
  to {
    top: 100%;
  }
}
